.ideal-woo-cart-nav.uk-dropdown{
  width: 350px;
  
}
.ideal-woo-cart-nav.uk-dropdown .cart_list.product_list_widget{
  max-height: 350px;
  overflow-y: auto;

}
.ideal-woo-cart-nav .widget {
  display: block;
  width: 100%;
  border-bottom: unset;
  margin-bottom: 2px;
  padding-bottom: 2px;
}
.ideal-woo-cart-nav.uk-dropdown{
  padding: 15px;
  padding-top: 25px;
  
}
.cart-count-nav {
 display: inline-block;
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
  right: 1px;
  margin-left: -5px;
  text-align: center;
  width: 17px;
  margin-top: -25px;
  margin-left: -10px;
  height: 17px;
  background-color: #000;
  color: #fff;
}

.cart-count-nav {
  border-radius: 99px;
  font: bold 11px/16px Arial;
  line-height: 18px;
  width: 18px;
  padding: 0 1px;
  box-shadow: -1px 4px 8px 0px rgba(0,0,0,.2);
  visibility: visible;
  animation: .6s ease-in-out .12s normal both 1 bounce_in_animation;
  -webkit-animation: .6s ease-in-out .12s normal both 1 bounce_in_animation;
}

.woocommerce-mini-cart__buttons .button,.woocommerce.widget_shopping_cart .buttons a {
  width: 100%;
  text-align: center;
  padding: 15px;
}

.ideal-woo-cart-nav .woocommerce.widget_shopping_cart .total {
  border-top: 1px solid #ebe9eb;
  padding: 10px 0 0;
  text-align: center;
}

.ideal-woo-cart-nav .woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
  float: left;
  margin-right: 4px;
  width: 70px;
  height: auto;
  box-shadow: none;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
  right: 0;
  left: unset;
}
.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
  padding-right: 2em;
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li {
  padding: 10px 0;
}
.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
  padding-left: 0;
}
.ideal-woo-cart-nav .widget h2{
  display: none;
}
/*---------button-------------*/
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  opacity: .6;
}
.woocommerce .cart .button, .woocommerce .cart input.button {
  float: none;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
  background: #18191b;;
  border: none;
  cursor: pointer;
  width: auto;
  color: #fff;
  padding: 15px 22px!important;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-appearance: none;

}
/*---------Form-------------*/
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  outline: 0;
  line-height: normal;
}
.woocommerce input#coupon_code {
  padding: 12px;
  width: 100%;
  font-family: inherit;
  background-color: #f1f1f1;
  border: 2px solid #f1f1f1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.woocommerce input#coupon_code:focus{
  background-color: #ffffff;
  border: 2px solid #dddddd;
}
.woocommerce input#coupon_code {
  width: 50%;
  font-size: 14px;
  line-height: 18px;
  float: none;
}
.woocommerce-cart[data-form-style="default"] table.cart td.actions .coupon .input-text {
  padding: 16px;
}
.woocommerce-page table.cart td.actions .coupon {
  min-width: 50%;
  text-align: left;
}

.woocommerce-ordering span.select2 {
  width: 250px ;
}

.woocommerce-ordering .select2-container .select2-selection--single{
  height: 40px
}
/*---------product-------------*/

.product_title.entry-title{
  font-size: 35px;
  font-weight: 800;
  line-height: 1.7;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  color: #0a0a0a;
}