/*
*
*ver=1.0.0
*/
@media only screen and (min-width: 768px){

#redux-header {
    background-color: #1e87f0!important;
}
#redux-header h2{
  font-size: 30px;
}
.display_header img{
  height: 30px;
}
.redux-container #redux-intro-text{
  display: none;
}
.redux-container .redux-main {
  margin-left: 270px;
}
.redux-sidebar {
  width: 270px;
  
}
.redux-container #redux-header{
  padding: 0px !important;
  border: unset;
  text-align: left;
  color: #fff;
}
.redux-container .redux-main {
  background: #fff;
}
.redux-container .redux-group-tab .redux-section-desc {
  margin-bottom: 15px;
  color: #222;
}
.redux-container #redux-header .display_header {
  background: #222222;
  text-align: left;
  box-sizing: border-box;
  margin: 0!important;
  display: block;
  padding: 2px 25px;
  float: left;
  width: 270px;

}
.redux-container .secondary-header {
  float: none;
  color: rgba(255,255,255,0.7);
  padding: 20px 20px 0px 20px;
  display: inline-block;
}
#redux-header img {
  display: inline-block;
  position: relative;
  top: 3px;
}
.redux-container{
  background:#222222;
}
.redux-sidebar{
  background:#222222;
}
.redux-sidebar .redux-group-menu li a {
  padding: 16px 4px 16px 25px;
  background-color: #222222;
}
body .redux-container  .redux-sidebar .redux-group-menu li a {
  background-color: #222222;
  border-color: rgba(255,255,255,0.06);
  color: rgba(255,255,255,0.75);
  text-shadow: none!Important;
  opacity: 1;
}

html .redux-container .redux-sidebar .redux-group-menu * {
  font-weight: 400!important;
}
html .redux-container .redux-sidebar .redux-group-menu > li > a .group_title {
  font-weight: 600!important
}

html .redux-container  .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a, 
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a {
  background-color: #f6f6f6;
  color: rgba(0,0,0,1);
}
html body .redux-container  .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover {
  background-color: #e9e9e9!important;
  color: rgba(0,0,0,1)!important;
}
html .redux-container  .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a, 
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
  background-color: #f6f6f6!important;
  color: rgba(0,0,0,1);
  font-weight: 600!important;
}
html .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a span, 
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a span {
font-weight: 600!important;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections a {
  background: #fff;
  color: #222;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections a:after{
  border-right-color: #222;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover{
  color: #222222;
  background: #d8d8d8;
}

html .redux-container .redux-sidebar .redux-group-tab-link-a i {
  color: #9ca1a6;
  text-shadow: none!important;
}
html .redux-container .redux-sidebar .redux-group-tab-link-li.active i {
  color: #222222!important;
}

body .redux-sidebar .redux-group-menu li > a:hover {
  background-color: #32373c;
  color: #fff;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a{
  background: #f3f3f3;
  color: #222222;
}
html .redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a{
  background-color: #dddddd!important;
  color: rgb(51, 51, 51);
}
html .redux-sidebar .redux-group-menu li.redux-group-tab-link-li.active > a{
  background-color: #fff;
  color: #222222;
  width: 270px;
}

html .redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a  {
  background-color: #ffffff;
    color: #1e87f0;
}
html .redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections i{
  color: #000;
}
html .redux-sidebar .redux-group-menu li.active.hasSubSections .active a:after, 
html .redux-container  .redux-sidebar .redux-group-menu li.activeChild.hasSubSections .active a:after, 
.wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections .active a:after, 
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections .active a:after {
  display: none!important;
}
.redux-container .redux-main .form-table tr td .wbc_importer .theme .theme-actions {
  -webkit-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  position: absolute;
  bottom: 0;
  right: 0;
  top: auto;
  height: 38px;
  transform: none;
  padding: 9px 10px 0;
  background: rgba(244,244,244,.7);
  border-left: 1px solid rgba(0,0,0,.05);
}
#toplevel_page_redux_options .wp-menu-image img, body #adminmenu .wp-menu-image img{
  width: 20px;
  opacity: 0.64;
  padding-top: 6px;
}
.wp-core-ui .button, .wp-core-ui .button-secondary {
  background: #ddd;
  color: #7d7d7d;
  border: unset;
  border-radius: unset;
}

.wp-core-ui .button:hover, .wp-core-ui:hover .button-secondary:hover {
  background: #dd4b39;
  border-color: #fd0303;
  color: #fcfcfc;
  border: unset;
}

.wp-core-ui .button-primary {
  background: #1e87f0;
  border-color: unset;
  border-radius: unset;
  color: #fff;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
  background: #3aaf85;
  border-color: #3aaf85;
}

.redux-main .wp-picker-container .wp-color-result {
  border: 1px solid #ddd;
  background: #ddd;
}

.redux-main .wp-picker-container .wp-color-result:hover {
  border: 1px solid #ddd;
  background: #ddd;
}
.redux-main .wp-picker-container .wp-color-result-text {
  line-height: 28px !important;
  color: #333333;
  background: #dddddd;
  border-radius: unset;
}
tr .ideal-border-r{
  border-bottom: 1px solid #ddd !important;
}
.redux-container-image_select .redux-image-select img{
  max-width: 50%;
}
.redux-container-image_select .redux-image-select .redux-image-select img:hover{
  max-width: 100%;
}
.admin-color-fresh .redux-container-image_select .redux-image-select-selected img
{
  border-color: #1e87f0;
  display: flex;
  clear: both;
  max-width: 100%;
}

.redux-container #redux-header .display_header .redux-dev-mode-notice-container{
  width: auto;
  bottom: 13px;
  left: 425px;
  right: auto;
  top: 34px;
  font-size: 14px;
}
}
@media screen and (max-width: 600px){
.redux-sidebar {
    width: 44px !important;
}
}
@media only screen and (min-width: 690px){
  .redux_field_th {
      line-height: 20px;
  }
  }